	* {
        /*font-family: Georgia, 'Times New Roman', Times, serif;*/
		/*background: #DAE4F0;*/
    }
	.container {
		margin: 0 auto;
		width: 100%;
		max-width: 800px;
		padding: 0 15px;
	} 
    .table{
		box-sizing: border-box;
        border-collapse: collapse;
        border-spacing: 0;
        border: none;
		width: 100%;
    }
    .table td {
        padding: 5px;
        border: none;
        font-size: 10pt;
		text-align: center;
    }
    .table-field {
		/*background: #ffffff;*/
        width: 100%;
        height: 50%;
    }
    .table td.b-border {
        border-right: 0;
        border-left: 0;
        border-top: 0;
    }
    .table td.b-no-border {
        border-style: none;
    }
    .input {
        border: 1px solid #dddddd;
        outline: none;
    }
    .input:hover {
        box-shadow: 0px 1px 3px rgb(192, 185, 185);;
    }
    .button-add {
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        color: rgb(68,68,68);
        text-decoration: none;
        user-select: none;
        padding: 3px 8px;
        outline: none;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 2px;
        background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
        transition: all .218s ease 0s;
    }
    .button-add:hover {
        color: rgb(24,24,24);
        border: 1px solid rgb(198,198,198);
        background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
     }
    .button-add:active { 
        color: rgb(51,51,51);
        border: 1px solid rgb(204,204,204);
        background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
        box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
     }
     .button-delete {
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        color: rgb(68,68,68);
        text-decoration: none;
        user-select: none;
        padding: 3px 8px;
        outline: none;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 2px;
        background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
        transition: all .218s ease 0s;
     }
	 
	 /* Всплывающее сообщение */
	 /* Положение сообщения в низу и посередине экрана */
#snackbar {
  visibility: hidden; /* По умолчанию скрыто. Показывается по нажатию на кнопку */
  /*min-width: 250px; /* Минимальная ширина */
  /*margin-left: -50px; /* Значение min-width деленное на 2 */
  background-color: #333; /* Черный фон */
  color: #ffffff; /* Белый текст */
  text-align: center; /* Текст по центру */
  font-size: 14px;
  /*font-weight: bold;*/
  text-decoration: none;
  border-radius: 2px; /* Закругленные края */
  padding: 16px; /* Отступы */
  position: fixed; /* Всегда на экране */
  z-index: 1; /* Добавим z-index, если нужно */
  left: 30%; /* Сообщение по центру */
  right: 30%;
  bottom: 30px; /* 30px от низа экрана */
}

/* Показываем сообщение при нажатии на кнопку */
#snackbar.show {
  visibility: visible; /* Показать сообщение */
  /* Добавляем анимацию: Отведем 0.5 сек. на появление и исчезание сообщения.
  При этом задержка процесса исчезания составит 2.5 сек */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Анимация появления и исчезания сообщения */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}